* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    scroll-behavior: smooth;
    border: 0;
}

body {
    background-color: black;
}

@font-face {
    font-family: "RingBearer";
    src: url(../fonts/RingbearerMedium-51mgZ.ttf);
}

.title {
    font-family: "RingBearer";
    font-size: 46px;
    color: #C07317;
    position: absolute;
    top: 0;
    padding-top: 15vh;
    z-index: 0;
    text-decoration: underline;
    text-shadow: 2px 0 #ffffff9c, -2px 0 #ffffff9c, 0 2px #ffffff9c, 0 -2px #ffffff9c,
        1px 1px #ffffff9c, -1px -1px #ffffff9c, 1px -1px #ffffff9c, -1px 1px #ffffff9c;
}

.loader {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    img {
        width: 20%;
    }
}

.location {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

    img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        user-select: none;
    }

    #overlay {
        object-fit: fill;
        z-index: 1;
    }
}

.fondu-out {
    display: none;
}

.characters {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    img {
        position: relative;
        max-height: 400px;
        height: 100%;
        object-fit: contain;
    }
}